<script type="text/javascript" src="/scripts/scroll.js"></script>
<script type="text/javascript" src="/scripts/message.js"></script>

<div id="message-list">
	<% @messages.each do |message|%>
		<%if @isIndex %>
			<a href="/biscuits/<%= message.biscuit_id%>" class="message-a">
		<% end %>
		<article class="message">
			<h4 class="message-title"> <%= message.user %><%= " : " + @biscuit_names["#{message.biscuit_id}"].to_s if @biscuit_names%> </h4>
			<p> <%= message.text %> </p>	
		</article>
		<%if @index %>
			</a>
		<% end %>
	<% end %>
</div>

<% if @biscuit %>
	<div id="message-input">
		<form action="/messages" method="post" id="message-input-form">
			<input type="text" name="user" size="15">
			<input type="text" name="text" size="35">
			<input type="hidden" value="<%= @biscuit.id %>" name="biscuit_id">
			<input type="submit" value="Submit" style="display: none;">
		</form>
	</div>
<% end %>