<div id="left">
	<h1><%= @biscuit.name %></h1>
	<p> <%=@biscuit.num_ratings > 0 ? (@biscuit.rating_total.to_f / @biscuit.num_ratings.to_f).round(1) : 0%></p>
	<p> <%= @biscuit.text %></p>
	<img src="<%= @biscuit.image_url %>" width=200px height=200px>
	<p> <a href="/biscuits/<%= @biscuit.id %>/edit"> Edit </a> </p>
</div>

<div id="messages">
	<% @messages = @biscuit.messages%>
	<%= erb :"partials/messages" %>
</div>

<form action="/biscuits/<%= @biscuit.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="DELETE BISCUIT">
</form>